@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

.coco {
    width: 60px;
    /*border: 1px solid blue;*/
}

.nav-item {
    font-weight: bold;
    color: black;
}

.nav-item, .nav-link {
    font-size: 17px;
    color: black;
}


.has-search .form-control {
    width: 100%;
}

@media (min-width: 768px) {
    .has-search .form-control {
        width: 50%;
    }
}

@media (max-width:768px) {
    .has-search {
        padding: 0 !important;
    }
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

input[type="text"] {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.box {
    text-align: left;
    border: black ridge 1px;
    border-radius: 10px;
    margin: 3px;
    width: 20rem;
    padding-left: 10px;
}

.suggestions-news {
    position: absolute !important;
    z-index: 100;
}

.dropdown__style {
    background: none !important;
    border: none !important;
    color: #4F4F4F !important;
}

.dropdown__style:focus {
    box-shadow: none !important;
}